:root {
    --header-height: 50px;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* DEBUG */

/* .debug [class^="col"] {
    border: 1px dashed salmon;
    padding: 10px;
} */

.debug .ps_header {
    background-color: white;
}

.debug .ps_aside {
    background-image: url("../img/sidebar-bg.png");
    background-color: #061E34;
}

.debug .ps_main {
    background-color: white;
}

/* GENERAL RULES */

.ps_blue-bg {
    background-color: rgb(64, 119, 229);
}

.ps_aside {
    background-image: url("../img/sidebar-bg.png");
    background-color: #061E34;
    width: 140px;
}

.ps_content-wrapper {
    display: flex;
    height: calc(100vh - var(--header-height));
}

.ps_header {
    height: var(--header-height);
}

.ps_main {
    flex-grow: 1;
}

.ps_search {
    padding-left: 30px;
}
    

tbody img {
    max-width: 20px;
}

.ps_stats {
    max-width: 100%;
}

.dropdown-toggle::after {
    display: none;
}

.fa-solid.fa-magnifying-glass {
    position: absolute;
    left: 10px;
}

